{% load humanize %}
<div class="w-1/4 px-2 mb-10 overflow-hidden">
    <a href="{% url "products:detail" product.pk %}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{product.first_photo}});"></div>
        <div class="flex justify-between mb-2 truncate">
            <div class="w-4/5 overflow-hidden flex">
                <span class="text-sm text-gray-600 block truncate">{{product.company}}</span>
            </div>
            <span class="text-sm felx items-center">
                <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{product.total_rating}}
            </span>
        </div>
        <div class="flex justify-between mb-2 truncate font-medium">
            <div class="w-4/5 overflow-hidden flex">
                <span class="text-black w-11/12 block truncate">{{product.name}}</span>
            </div>
                <span class="flex itmes-center">{{product.price | intcomma}}원</span>
        </div>
    </a>
</div>
