{% extends "base.html" %}

{% block page_title %}
    {{product.name}}'s Photos
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-10 flex flex-col">

        <div class="my-10 w-full">
            <a href="{% url 'products:add-photo' product.pk %}" class="btn-link w-1/6 block bg-blue-500">Upload Photo</a>
        </div>

        {% for photo in product.photos.all %}
            <div class="mb-5 border p-6 border-gray-400 flex justify-between">
                <div class="flex items-start">
                    <img src="{{photo.file.url}}" class="w-40 h-40" />
                    <span class="ml-5 text-xl">{{photo.caption}}</span>
                </div>
                <div class="flex flex-col w-1/6">
                    <a class="btn-link mb-5" href="{% url 'products:edit-photo' product.pk photo.pk %}">Edit</a>
                    <a class="btn-link bg-red-500" href="{% url 'products:delete-photo' product.pk photo.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div class="flex justify-center mt-5">
            <a href="{% url 'products:edit' product.pk %}" class="text-teal-500 font-medium text-xl">Back to edit product</a>
        </div>

    </div>
        
{% endblock content %}